h1 {
    text-align: center;
    padding: 2rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
        background-color: aliceblue;
        width: calc(100% / 5 - 1rem);
        margin: 1rem 0;
        text-align: center;
    }
}